{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% block content %}

<div class="row">

        <div class="col-sm-8 blog-main">


	{% if posts %}

        {% for post in posts %}
        	<div class="blog-post">
	            <h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
	        	<p class="blog-post-meta">{{ post.posted }}</p>
	        	{{ post.body | safe }}
        	</div><!-- /.blog-post -->
        {% endfor %}
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

          <nav>
            <ul class="pager">
              <li><a href="#" class="pull-left">Previous</a></li>
              <li><a href="#" class="pull-right">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>The technonlgy blog to record valuable methods to over come problems in specific area.</p>
            <p>Also it is an diary of my startup activities.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div>
{% endblock %}