	<div id="content-area">	
		<h2>Portfolio</h2>
		<div id="sample-left">
			<div class="sample">
				<a href="http://www.greatwallhs.ca"><img alt="greatwallhs.ca" src="images/greatwall.jpg" /></a>
			</div>
		</div>
		<div id="sample-right">
			<div class="sample">
				<a href="http://www.handsofcare.ca"><img alt="handsofcare.ca" src="images/handsofcare.jpg" /></a>
			</div>	
			<div class="sample">
				<a href="http://www.jennyli.ca"><img alt="jennyli.ca" src="images/jennyli.jpg" /></a>
			</div>
		</div>	
	</div>
