{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% block content %}
<div class="content-col">
					<div class="round-corner box-blue">
						<h2>Starter Plan</h2>
						<div class="box-text">
							<p>For business starter who want to show their products, service and how to contact information.7 customised pages maximum, includes:</p>
							<ul>
								<li>Home page.</li>
								<li>Products/Services.</li>
								<li>About us.</li>
								<li>Contact page with google map.</li>
								<li>Other pages based on request.</li>
								<li>Search engine optimization.</li>
							</ul>
						</div>	
											
					</div>
					<div class="round-corner box-green">
						<h2>Standard Plan</h2>
						<div class="box-text">
							<p>Plan with Content Management System, the business owner can edit web site via web.</p>
							<ul>
								<li>12 customised pages maximum, includes all features in [Starter Plan]</li>
								<li>Customer request forms</li>
								<li>Contact page with google map</li>
								<li>Content Management System, owner can update the web page content.</li>
								<li>Visitor traffic flow statistics report.</li>
							</ul>
						</div>
					</div>
					<div class="round-corner box-blue">
						<h2>Premium Plan</h2>
						<div class="box-text">
							<p>Build the E-commerce business with online payment system, makes your business to be available 24/7.</p>
							<ul>
								<li>Includes all features in [Standard Plan].</li>
								<li>Multi-language support(internationalization).</li>
								<li>E-commerce and shopping cart.</li>
								<li>Online polls.</li>
								<li>Online payment system.</li>
								<li>Comprehensive user training provided.</li>
							</ul>
						</div>
					</div>									
				</div>
				<!-- end of content-col-->
				<div class="sub-content">
					<div class="column">
						<div class="column-text">
							<h2>Do you know?</h2>
							<p>Having a web site may be the most important investment for a modern business. A web site brings advantages to your business:</p>
							<ul>
								<li>80% of consumers under 30 search for company information online,  because a visit to a conventional retail store requires travel and must  take place during business hours.</li>
								<li>35% of consumers search for products online as their first option.</li>
							</ul>	
						</div>
					</div>
					<div class="column">
						<div class="column-text">
							<h2>The Fact</h2>
							<p>Many companies still fail to present their product and service online due to following reasons:</p>
							<ul>
								<li>Lack of special knowledge and skills to setup the web site.</li>
								<li>Without proper design, it takes too much time to maintain a web site.</li>
							        <li>Don't know how to promote the current web site.</li>
							</ul>
						</div>
					</div>
					<div class="column">
						<div class="column-text">
							<h2>Our solution</h2>
							<p>We offer an incredible starter's plan which includes everything you need to get your business on line. We will do all the technical details involved to build the web site:</p>
							<ul>
								<li>Registering a domain name.</li>
								<li>Setting up a Web Hosting space.</li>
								<li>Designing a web site.</li>
								<li>Getting your email addresses.</li>
								<li>Optimizing your web site for better search engine ranking.</li>
							</ul>
						</div>												
					</div>
				</div>
				<!-- end of sub-content -->
{% endblock %}