{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}
{% load staticfiles %}
{% block content %}

		<h2>Portfolio</h2>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-3">
          <p>Jennyli.ca is a mortgage agent service located in Waterloo and kitchener area. The web site was launched in 2010.</p>
          <p>The features includes:</p>
          <ul>
				<li>web page use html strict, so the page will fit in 90% of the web broswers.</li>
				<li>Google traffic analytics feature.</li>
				<li>Custom was happy because it runs as a name card to bring business in.</li>
			</ul>
        </div>
        <div class="col-md-3">
          <a href="http://www.jennyli.ca">
          	<img class="featurette-image img-responsive" src="{% static "images/portfolio/jennyli-ca.png" %}" alt="Help you on line marketing">
          </a>
        </div>
        <div class="col-md-3">
          <p>vollov.ca is a site build in 2010, for display web design portfolios. To test the new technology, the site was built few times and have different version.</p>
          
          <p>The features includes:</p>
          <ul>
				<li>web page use html strict, so the page will fit in 90% of the web broswers.</li>
				<li>Web page build with twitter bootstrap technology, so each page will fit into any mobile devices.</li>
				<li>Google traffic analytics feature.</li>
				<li>The web sit has a custom blog.</li>
				<li>Build with Django technology.</li>
			</ul>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/vollov-ca.png" %}" alt="Help you on line marketing">
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/greatwallhs-ca.png" %}" alt="profession web site design">
        </div>
        <div class="col-md-3">
          <p>Great Wall Home Service is a heating, cooling, plumbing and home innovation service located in Waterloo and kitchener area. The web site was launched in 2012.</p>
          <p>The features includes:</p>
          <ul>
				<li>web page use html strict, so the page will fit in 90% of the web broswers.</li>
				<li>Web site has a custom database, allowing user to update the contents by themselves.</li>
				<li>Google traffic analytics feature.</li>
				<li>Custom was happy because it boosted the business.</li>
				<li>Build with Wordpress technology.</li>
			</ul>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/jbws-ca.png" %}" alt="profession web site design">
        </div>
        <div class="col-md-3">
          <p>Jiabao is a Pregnancy Care Service located in Great Toronto area. The web site was launched in 2015. The web site was built within two weeks using latest node js technology.</p>
          <p>The features includes:</p>
          <ul>
				<li>web page use single page technology, the visitor can download the site once and visit site offline.</li>
				<li>Google traffic analytics feature.</li>
				<li>Custom was happy because it boosted the business.</li>
				<li>Build with NodeJS technology.</li>
			</ul>
        </div>
      </div>
      
      <hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-3">
			<p>The Particle Technology Research Centre (PTRC) is a research institution under Faculty of Engineering, Western Ontario University.
				The web site was launched in 2014. The project is very challenging, because Western Ontario University has very strict requirement for web site outlook.</p>
			<p>The features includes:</p>
			<ul>
				<li>Web page build with twitter bootstrap technology, so each page will fit into any mobile devices.</li>
				<li>Google traffic analytics feature.</li>
				<li>Custom was happy because the web site match Western Ontario University official web sit theme, and site was delivered on time.</li>
				<li>Build with php technology.</li>
			</ul>
		</div>
	<div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/powders-ca.png" %}" alt="Help you on line marketing">
        </div>
        <div class="col-md-3">
<p>Hands of care is a Physiotherapy Clinic located in Waterloo and kitchener area. The web site was launched in 2012.</p>
          <p>The features includes:</p>
          <ul>
				<li>web page use html strict, so the page will fit in 90% of the web broswers.</li>
				<li>Web page build with twitter bootstrap technology, so each page will fit into any mobile devices.</li>
				<li>Google traffic analytics feature.</li>
				<li>Custom was happy because it boosted the business.</li>
				<li>We designed site with a custom light PHP MVC framework.</li>
			</ul>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/handsofcare-ca.png" %}" alt="Help you on line marketing">
        </div>
        
      </div>

        <hr class="featurette-divider">

      <div class="row featurette">
      	<div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/nthomeservice-ca.png" %}" alt="Help you on line marketing">
        </div>
        <div class="col-md-3">
<p>NT Home service is a heating and cooling service provider located in Great Toronto area. The web site was launched in 2014.</p>
          <p>The features includes:</p>
          <ul>
				<li>web page use html strict, so the page will fit in 90% of the web broswers.</li>
				<li>Web page build with twitter bootstrap technology, so each page will fit into any mobile devices.</li>
				<li>Google traffic analytics feature.</li>
				<li>Custom was happy because it boosted the business.</li>
				<li>NodeJS technology.</li>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/isda-ca.png" %}" alt="Help you on line marketing">
        </div>
        
        <div class="col-md-3">
<p>SINO-CAN immigrant settlement and development association is a none-profit organization located in Great Toronto area. The web site was launched in 2013.</p>
          <p>The features includes:</p>
          <ul>
				<li>web page use html strict, so the page will fit in 90% of the web broswers.</li>
				<li>Web page build with twitter bootstrap technology, so each page will fit into any mobile devices.</li>
				<li>Google traffic analytics feature.</li>
				<li>Web site has a custom database, allowing user to update the contents by themselves.</li>
				<li>Multiple language support with Chinese and English contents.</li>
				<li>NodeJS technology.</li>
			</ul>
        </div>
        
      </div>


{% endblock %}