{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}
{% load staticfiles %}
{% block content %}

		<h2>Portfolio</h2>
		<div class="sample-left">
			<div class="sample">
				<a href="http://www.greatwallhs.ca"><img alt="greatwallhs.ca" src="{% static "images/greatwall.jpg" %}" /></a>
			</div>
		</div>
		<div class="sample-right">
			<div class="sample">
				<a href="http://www.handsofcare.ca"><img alt="handsofcare.ca" src="{% static "images/handsofcare.jpg" %}" /></a>
			</div>	
			<div class="sample">
				<a href="http://www.jennyli.ca"><img alt="jennyli.ca" src="{% static "images/jennyli.jpg" %}" /></a>
			</div>
		</div>	

{% endblock %}