{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}
{% load staticfiles %}
{% block content %}

		<h2>Portfolio</h2>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-3">
          <p>Jennyli.ca is a mortgage agent service located in Waterloo and kitchener area. The web site was launched in 2010.</p>
          <p>The features includes:</p>
          <ul>
				<li>web page use html strict, so the page will fit in 90% of the web broswers.</li>
				<li>Google traffic analytics feature.</li>
				<li>Custom was happy because it runs as a name card to bring business in.</li>
			</ul>
        </div>
        <div class="col-md-3">
          <a href="http://www.jennyli.ca">
          	<img class="featurette-image img-responsive" src="{% static "images/portfolio/jennyli-ca.png" %}" alt="Help you on line marketing">
          </a>
        </div>
        <div class="col-md-3">
          <p>Doing online search engine optimization is as important as put the website on line. We help you the analysis you current visitors, development you online advertisement plan.</p>
          <p>If you don't have time and knowledge to execute it, we can help you get it done in a reasonable price range.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/vollov-ca.png" %}" alt="Help you on line marketing">
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/greatwallhs-ca.png" %}" alt="profession web site design">
        </div>
        <div class="col-md-3">
          <h2 class="featurette-heading">Don't know the web design? <span class="text-muted">We offer affordable custom web design service.</span></h2>
          <p>We are seasoned web design team. Give us a call, we will meet you in person to understand your needs. We offer free consultation and guide to plan your site. </p>
          <p>You pay the service only when your are happy with our initial design.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/jbws-ca.png" %}" alt="profession web site design">
        </div>
        <div class="col-md-3">
          <h2 class="featurette-heading">Don't know the web design? <span class="text-muted">We offer affordable custom web design service.</span></h2>
          <p>We are seasoned web design team. Give us a call, we will meet you in person to understand your needs. We offer free consultation and guide to plan your site. </p>
          <p>You pay the service only when your are happy with our initial design.</p>
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-3">
          <p>Doing online search engine optimization is as important as put the website on line. We help you the analysis you current visitors, development you online advertisement plan.</p>
          <p>If you don't have time and knowledge to execute it, we can help you get it done in a reasonable price range.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/powders-ca.png" %}" alt="Help you on line marketing">
        </div>
        <div class="col-md-3">
          <p>Doing online search engine optimization is as important as put the website on line. We help you the analysis you current visitors, development you online advertisement plan.</p>
          <p>If you don't have time and knowledge to execute it, we can help you get it done in a reasonable price range.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/handsofcare-ca.png" %}" alt="Help you on line marketing">
        </div>
        
      </div>

        <hr class="featurette-divider">

      <div class="row featurette">
      	<div class="col-md-3">
          <img class="featurette-image img-responsive" src="{% static "images/portfolio/nthomeservice-ca.png" %}" alt="Help you on line marketing">
        </div>
        <div class="col-md-3">
          <p>Doing online search engine optimization is as important as put the website on line. We help you the analysis you current visitors, development you online advertisement plan.</p>
          <p>If you don't have time and knowledge to execute it, we can help you get it done in a reasonable price range.</p>
        </div>
      </div>


{% endblock %}