{% extends 'site-layout.html' %}

{% block title %} - {{ page_title }} {% endblock %}

{% block content %}

		<h2>About Us</h2>
		<p>
			We are professional web developers located in Kitchener and Waterloo area. Our goal is helping Canadian companies to make their web sites pleasant, easy, and appealing to use.
		</p>
		
		<h2>Our Customer</h2>
		<ul>
			<li>From small business to medium size enterprises that need display their products and services.</li> 			
			<li>Companies who want increase the web traffic of existing web site.</li>
		</ul>

		<h2>Who may take full advantage of our services?</h2>
		<ul>
			<li>The businesses that need update their web sites often but suffered from high cost of maintenance.</li>
			<li>The businesses starter who want build up a web site but don't know how to start.</li>
			<li>The businesses web site who want to know where the customers comes from.</li>
			<li>The businesses who want minimize the IT cost.</li>
		</ul>
				
		<h2>Our services</h2>
			<ul>
				<li>Customized Web Site design / software development.</li>
				<li>Content Management System help the non-computer background customers to take control over the web sites.</li>
				<li>Web site visite reports provide the key information of the visitors of your web site.</li>
				<li>Securied hosting plans.</li>
				<li>Data backup service to protect your web data against damage and loss.</li>
			</ul>
			
		<h2>How it works?</h2>
		<ol>
			<li>Contact us by email or phone, and we meet to discuss your needs.</li>			
			<li>We offer the estimated price and time to get the job done. Customer pay 10% funding to start the project.</li>
			<li>We will show a prototype and customer decide if any thing need add to the web site.</li>
			<li>We finalize the requirements based on the prototype, and customer pay a portion to continue the project.</li>
			<li>Project go on line and close the deal.</li>
		</ol>

{% endblock %}