	<div id="content-area">	
		<h2>IT consulting services</h2>
		<ul>
			<li>Build and version control server(jenkins,maven...) setup and consulting.</li>
			<li>Test automation out sourcing.</li>
			<li>Small software development out sourcing.</li>
			<li>Custom software design and development consulting service.</li>
		</ul>
			
		<h2>Who may take full advantage of our services?</h2>
		<ul>
			<li>The IT company who want to stream line the product build process.</li>			
			<li>Start up companies who need technology consultant service to build enterprise IT infrastructure.</li>
			<li>The businesses who want minimize the IT cost.</li>
		</ul>
		
		<h2>How it works?</h2>
		<ol>
			<li>Contact us by email or phone, and we meet to discuss your needs.</li>			
			<li>We offer the price and time to get the job done.</li>
			<li>For big projects, we sign a smaller project to see if the out sourcing qualify your requirement.</li>
		</ol>
	</div>